cocotb >=1.8.0, <2
cocotbext-axi >=0.1.24, <1
cocotbext-uart >=0.1.2, <1
numpy >=1.24.4, <2
gps-model @ git+ssh://git@github.com/seds-umd/gps-model.git
matplotlib >=3.7.3, <4
pyserial
pyadi-iio==0.0.14
